$color: (
  black: #000,
  blacks: #141414,
  black_i: #0f0f0f,
  white: #fff,
  gray: #272727,
  gray_b: #ebebeb,
  grays: #3e3e3e,
  black_gray: #1e1e1e,
  gray_d: #f6f7f7,
  gray_baba: #333,
  gray_mo: #777,
  orange: #e03916,
  organge: #ee4415,
  gray_compare: #bfbfbf,
  lorem: #ddd,
  gray_social: #2e2e2e,
  grays_b: #979797,
);
